body {
    font-family: 'Roboto', sans-serif;
    width: 90vw;
    margin: 7% auto;
    background-color: black;
    color: #8ad4ff;
}

.white-mode {
    background-color: white;
    color: black;
}

nav {
    margin: 1rem;
}

header {
    width: 35%;
    margin: auto;
    order: 2;
}

h1 {
    margin: 0;
}

h1 img {
    border-radius: 50%;
}

main {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.upperMain {
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-basis: 100%;
}

.upperLeft {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-basis: 50%;
}

.upperRight {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-basis: 50%;
}

.lowerMain {
    order: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-basis: 100%;
}

.lowerLeft {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-basis: 50%;
}

.lowerRight {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-basis: 50%;
}

ul {
    text-align: justify;
    list-style-type: square;
    padding: 1rem;
    margin: 0;
}

li {
    margin: 0.5em;
    line-height: 1.5rem;
}

.imgDiv {
    width: 20%;
    height: auto;
}

.textDiv {
    width: 75%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}



/*Switch CSS 09/09/2021*/

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0.7px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        width: 100%;
    }
    main {
        margin-top: 0;
    }
    nav {
        order: -2;
    }
    header {
        order: -1;
        width: 100%;
    }
    header img {
        border-radius: 0;
    }
    ul {
        text-align: left;
    }
    .imgDiv {
        width: 40%;
    }
    .textDiv {
        width: 100%;
    }
    .upperLeft, .upperRight, .lowerLeft, .lowerRight {
        flex-basis: 90%;
        justify-content: center;
    }
    .upperMain, .lowerMain {
        font-size: 0.9rem;
        text-align: justify;
    }
    ul {
        padding: 0.5rem;
    }
  }